career-pathways.aux
career-pathways.bbl
career-pathways.blg
career-pathways.fdb_latexmk
career-pathways.fls
career-pathways.log
career-pathways.out
career-pathways.pdf
career-pathways.xmpdata
easst-eps-converted-to.pdf
pdfa.xmpi
.career-pathways.tex.swp
